{% extends "master.html" %}

{% block pagecontent %}
<p> Last 20 messages as of {{ current_time.strftime("%Y-%m-%d %H:%M") }}</p>

{% for m in msg_list %}
<p><b>({{ m.chat }})</b> ({{ m.deltatime }} seconds ago) {{ m.user }}: {{ m.message|escape }} </p>
{% endfor %}
    <form action="/enterchat?chat={{chat}}" method="post">
	<p><b>Message</b></p>
	<div><textarea name ="message" rows ="5" cols ="60"></textarea></div>
	<div><input type="submit" value="Send Message"/></div>
    </form>

{% endblock %}
